<?xml version="1.0"?>

<configuration>
	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
	</appSettings>
	<location path="Utilities">
		<system.web>
			<authorization>
				<allow users="*"></allow>
			</authorization>
		</system.web>
	</location> 

</configuration>