<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
	  <customErrors mode="Off" >		 
	  </customErrors>
	  <trust level="Full" />
  </system.web>  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

	<!--<system.diagnostics>
		<sources>
			<source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true" >
				<listeners>
					<add name="xml"/>
				</listeners>
			</source>
			<source name="System.ServiceModel.MessageLogging">
				<listeners>
					<add name="xml"/>
				</listeners>
			</source>
		</sources>
		<sharedListeners>
			<add name="xml" type="System.Diagnostics.XmlWriterTraceListener"
						   initializeData="MessagesTrace.svclog" />
		</sharedListeners>
	</system.diagnostics>-->
	
	<connectionStrings>
    <!-- Deploy on server  
  <add name="TechKritiCMSEntities" connectionString="metadata=res://*/Datamodel.DataModel.csdl|res://*/Datamodel.DataModel.ssdl|res://*/Datamodel.DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CPSqlDB2.db.10361552.hostedresource.com;initial catalog=CPSqlDB2;User ID=CPSqlDB2;Password=Harry@2015;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
   -->

    <!-- Deploy on server     -->
    <add name="TechKritiCMSEntities" connectionString="metadata=res://*/Datamodel.DataModel.csdl|res://*/Datamodel.DataModel.ssdl|res://*/Datamodel.DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=118.67.248.175;initial catalog=avantgarde;User ID=avantgarde;Password=agdb123$$;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
   
	<!-- Local    
    <add name="TechKritiCMSEntities" connectionString="metadata=res://*/Datamodel.DataModel.csdl|res://*/Datamodel.DataModel.ssdl|res://*/Datamodel.DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DELL_PC;initial catalog=TechKritiCMS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  -->
  </connectionStrings>  
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
    <behaviors>
      <serviceBehaviors>
        <behavior name="WebHTTPServiceBehaviour">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <bindings>
      <wsHttpBinding>
        <binding name="wsHTTPBindingSettings" maxBufferPoolSize="5242880" maxReceivedMessageSize="67108864"
                                                                          messageEncoding="Mtom">
          <readerQuotas maxDepth="0" maxArrayLength="67108864" maxBytesPerRead="5242880" maxStringContentLength="5242880" />				
        </binding>        
      </wsHttpBinding>
    </bindings>
    
    <services>
      <service name="ServiceInterface.ServiceImplementation.UserManagement.UserManagementServiceImpl" behaviorConfiguration="WebHTTPServiceBehaviour" >
        <endpoint binding="basicHttpBinding"  contract="ServiceInterface.IUserManagement" ></endpoint>		  
      </service>
      <service name="ServiceInterface.ServiceImplementation.NewsManagement.NewsManagementServiceImpl" behaviorConfiguration="WebHTTPServiceBehaviour">
        <endpoint binding="basicHttpBinding"  contract="ServiceInterface.INewsManagement"></endpoint>
      </service>
		<service name="ServiceInterface.ServiceImplementation.CurrentOpenings.CurrentOpeningsServiceImpl" behaviorConfiguration="WebHTTPServiceBehaviour">
			<endpoint binding="basicHttpBinding"  contract="ServiceInterface.ICurrentOpeningsManagement"></endpoint>
		</service>
      <service name="ServiceInterface.ServiceImplementation.SectorsManagement.SectorsManagementServiceImpl" behaviorConfiguration="WebHTTPServiceBehaviour">
        <endpoint binding="basicHttpBinding"  contract="ServiceInterface.ISectorsManagement"></endpoint>
      </service>
	   <service name="ServiceInterface.ServiceImplementation.TestimonialsManagement.TestimonialsServiceImpl" behaviorConfiguration="WebHTTPServiceBehaviour">
			<endpoint binding="basicHttpBinding"  contract="ServiceInterface.ITestimonialManagement"></endpoint>
		</service>
		<service name="ServiceInterface.ServiceImplementation.PhotoGalleryManagement.PhotoGalleryServiceImpl" behaviorConfiguration="WebHTTPServiceBehaviour">
			<endpoint binding="basicHttpBinding"  contract="ServiceInterface.IPhotoGalleryManagement"></endpoint>
		</service>
		<service name="ServiceInterface.ServiceImplementation.DownloadsManagement.DownloadsManagementServiceImpl" behaviorConfiguration="WebHTTPServiceBehaviour">
			<endpoint binding="basicHttpBinding"  contract="ServiceInterface.IDownloadsManagement"></endpoint>
		</service>
       <service name="ServiceInterface.ServiceImplementation.QualificationManagement.QualificationsManagementServiceImpl" behaviorConfiguration="WebHTTPServiceBehaviour">
			<endpoint binding="basicHttpBinding"  contract="ServiceInterface.IQualificationsManagement"></endpoint>
		</service>
		<service name="ServiceInterface.ServiceImplementation.ContentManagement.ContentManagementServiceImpl" behaviorConfiguration="WebHTTPServiceBehaviour">
			<endpoint binding="basicHttpBinding"  contract="ServiceInterface.IContentManagement"></endpoint>
		</service>
	</services>    
  </system.serviceModel>
</configuration>
