<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
	</appSettings>
	<location path="Utilities">
		<system.web>
			<authorization>
				<allow users="*"></allow>
			</authorization>
		</system.web>
	</location> 

</configuration>